{% extends 'base.html.twig' %}

{% block title %}Funbox{% endblock %}

{% block contenuadd %}
<section class="row">
    <div id="contenu-droit">
        <section>
            <h1>Ajouter un nouveau contenu</h1>

            {{ form_start(form) }}

            {{ form_end(form) }}
{% endblock %}
